* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}


.card {
  width: 320px;
  background: #fff;
  border-radius: 15px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}


.top-bg {
  height: 130px;
  background: #4070f4;
}

/* IMAGE */
.image {
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 50%;
  padding: 4px;
}

.image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}


.card h4 {
  margin-top: 90px;
  font-weight: 600;
}

.card p {
  color: #777;
  font-size: 14px;
}


.social {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 15px 0;
}

.social i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fa-facebook-f { background: #1877f2; }
.fa-x-twitter { background: #000; }
.fa-instagram { background: #e1306c; }
.fa-youtube { background: #ff0000; }


.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 15px 0;
}

button {
  background: #4070f4;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.analytics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 15px 0 20px;
  color: #888;
  font-size: 14px;
}

.divider {
  color: #ddd;
  margin: 0 6px;
}
