*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

header{
    background-color:  #131921;

    padding: 5px;
}

.left > img{
   width: 120px;
    height: auto;

    
   filter: brightness(0) invert(1);
   


}

.left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.inn{
    color: white;
    padding-bottom: 4px;
}
.fa-location-dot{
    color: white;
}

.location-upd{
    color: white;
    font-weight: 700;
}

.navbar{
    display: flex;
    
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    
}

.lang-box{
  display:flex;
  align-items:center;
  gap:6px;
  color:white;
  cursor:pointer;
  padding:6px 8px;
}
.lang-box img{
  width:22px;
  height:14px;
  object-fit:cover;
}

.sign-in{
  color:white;
  display:flex;
  flex-direction:column;
  font-size:13px;
}

.return{
    display: flex;
    flex-direction: column;
}

.cart{
    display: flex;
    gap: 2px;
    
}

.search-btn{
    background-color: beige;
    padding: 10px;
    font-size: large;
    border: none;
    border-radius: 2px;
}
.search-input{
    padding: 10px;
    width: 300px;
}

.search-select{
    background-color: aquamarine;
    padding: 12px;
    width: 100px;
    border-radius: 5px;
}


.fa-cart-arrow-down{
    font-size: 40px;
}

.nav2{
    background-color: rgb(104, 103, 103)  ;
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.nav2 > .alll{
    font-weight: 700;
}
.fa-bars{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

.section2{
    display: flex;
    gap: 20px;
  background: url("sec2bag.jpg") center/cover no-repeat;
  padding: 40px;
}
.cards{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  
}
.box{
    margin-top: 500px;
  background: #f5f5f5;
  width: 300px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.images{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}
.images img{
  width: 100%;
  height: 100px;
  object-fit: cover;
}
a{
  display: inline-block;
  margin-top: 10px;
  color: #007185;
  text-decoration: none;
}